.avatars {
	transition: 0.2s;
	width: 25%;
	@include card-default;
	&-header {
		background: $main-accent;
		color: #ffffff;
		display: flex;
    flex-direction: column;
    justify-content: center;
		align-items: center;
		padding: 12px;
		border-radius: 7px 7px 0px 0px;
	}
	&-image {
		height: auto;
		border-radius: 50%;
		background: darken(#f6f6f6, 30%);
	}
	&-title {
		font-weight: $bold;
		color: #ffffff;
		font-size: 22px;
	}
	&-content {
		padding: 0px 12px 12px;
	}
	&-quote {
		font-style: italic;
		font-weight: $light;
	}
	&-links {
		display: flex;
		flex-direction: column;
		a {
			color: $link;
			margin: 4px 0px;
			&:hover {
				color: darken($link, 20%);
			}
		}
	}
	&.active {
		transition: 0.2s;
		box-shadow: 3px 3px 15px 4px #9a87ff;
	}
}
