.list {
	width: 25%;
	@include card-default;
	&-content {
		padding: 12px;
	}
	&-title {
		font-size: 22px;
		font-weight: $bold;
		text-align: center;
		background: $main-accent;
		padding: 20px 0px;
		color: #ffffff;
		margin: 0px;
		border-radius: 8px 8px 0px 0px;
	}
	ol {
		padding: 0px;
		list-style: none;
		counter-reset: my-awesome-counter;
		li {
			color: $body-copy-color;
			counter-increment: my-awesome-counter;
			padding-bottom: 20px;
			&::before {
					content: "0" counter(my-awesome-counter);
					margin-right: 0.5rem;
					line-height: 1;
					border-radius: 50%;
					padding: 5px;
					background: $main-accent;
					color: white;
					font-size: 14px;
				
			}
		}
	}
	&-actions {
		display: flex;
    justify-content: center;
	}
}