.list {
	width: 25%;
	@include card-default;
	&-content {
		padding: 12px;
	}
	&-title {
		font-size: 22px;
		font-weight: $bold;
		text-align: center;
		background: $main-accent;
		padding: 20px 0px;
		color: #ffffff;
		margin: 0px;
		border-radius: 8px 8px 0px 0px;
	}
	ol {
		padding: 0px;
		list-style: none;
		counter-reset: my-awesome-counter;
		li {
			color: $body-copy-color;
			counter-increment: my-awesome-counter;
			padding-bottom: 20px;
			&::before {
					content: "0" counter(my-awesome-counter);
					margin-right: 0.5rem;
					line-height: 1;
					border-radius: 50%;
					padding: 5px;
					background: $main-accent;
					color: white;
					font-size: 14px;
			}
			.list-delete {
				float: right;
				color: $main-accent;
					&:hover {
					color: darken($main-accent, 20%);
					cursor: pointer;
				}
			}
		}
	}
	&-actions {
		display: flex;
		flex-direction: column;
		justify-content: center;
		&.row {
			flex-direction: row;
		}
		input {
			height: 42px;
			margin-bottom: 20px;
			&::placeholder {
				padding-left: 10px;
				font-size: 14px;
			}
			&:focus {
				outline: none;
				box-shadow: 0 0 5px rgba($main-accent, 1);
				border: 1px solid rgba($main-accent, 1);
			}
		}
		.controls {
			display: flex;
			justify-content: space-between;
		}
	}
}