.news {
	width: 90%;
	margin: 25px 0px;
	@media screen and (min-width: 768px) {
		width: 60%;
	}
	@media screen and (min-width: 1024px) {
		flex: 0 0 25.333333%;
	}
	@include card-default;
	&-title {
		font-size: 22px;
    font-weight: 800;
    text-align: center;
    padding: 20px 0px;
		color: #ffffff;
		background: $main-accent;
    margin: 0px;
    border-radius: 8px 8px 0px 0px;
		h1 {
			color: white;
		}
	}
	&-content {
		padding: 0px 16px;
	}
	.weather {
		.weather-location {
			display: flex;
			flex-direction: column;
			margin-top: 20px;
			p {
				margin: 0px;
				color: #717171;
			}
		}
		.weather-details {
			display: flex;
			align-items: center;
			.weather-temperature {
				font-size: 30px;
			}
			.weather-unit {
				height: 26px;
			}
		}
	}
}