.posts {
	width: 90%;
	margin: 25px 0px;
	@media screen and (min-width: 768px) {
		width: 60%;
	}
	@media screen and (min-width: 1024px) {
		flex: 0 0 25.333333%;
	}
	@include card-default;

		.slider-container {
			img {
				border-radius: 7px 7px 0px 0px;
				width: 100%;
			}
			.nav-container {
				position: relative;
				.dot-nav {
					position: absolute;
					bottom: 0px;
					z-index: 5;
					list-style-type: none;
					display: flex;
					justify-content: center;
					padding: 0px;
					left: 0;
					right: 0;
					li {
						height: 10px;
						cursor: pointer;
						width: 10px;
						background: #ffffff;
						margin: 0px 5px;
						border-radius: 50%;
						&:hover {
							background: darken(#ffffff, 10%);
						}
					}
				}
			}
		.content {
			padding: 12px;
		}
	}
}